<!DOCTYPE html>

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <link href="https://fonts.googleapis.com/css?family=Mr+De+Haviland" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>{{site.title}}</title>

  <!-- Included CSS Files (Compressed) -->
  <link rel="stylesheet" href="/stylesheets/foundation.min.css">
  <link rel="stylesheet" href="/stylesheets/app.css">
  <script src="/javascripts/modernizr.foundation.js"></script>
  <link rel="icon" type="image/png" href="../images/pollyn_fav.png">

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body class="clouds">
<!--< default.html>-->

<div class="row">
  <div class="twelve columns">
    <!--<div class="row header-site">-->
      <!--<div class="columns four">-->
        <!--<div class="header-menu-items site-home">-->
          <!--<a class="header-menu-item" href="/">HOME</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->


    <div class="title show-for-medium-only">
      <h2><span class="site-title">{{site.title}}</span><span class="site-title-industries"> Industries </span></h2>
      <!--<p>{{site.description}}</p>-->
    </div>
    <div class="title show-for-large-only">
      <h2><span class="site-title">POLLYN</span><span class="site-title-industries"> Industries </span></h2>
      <!--<p>site decription goes here
</p>-->
    </div>
    <div class="show-for-small">
      <h2 class="title-mobile"><span class="site-title">{{site.title}}</span><span class="site-title-industries"> Industries </span></h2>
      <!--<p>{{site.description}}</p>-->
    </div>
  </div>
</div>
<div class="honeycomb">
</div>
<div class="row">
  <div class="twelve columns">
    <div class="coming-soon">
      <h3><a class="coming-soon-a" href="/">coming soon ...</a></h3>
    </div>
    <div class="row">
      <div class="twelve columns">
        <div class="header-menu-items site-contact">
          <span class="contact"> CONTACT:</span>
          <a class="header-menu-item" href="mailto:info@pollynind.com.com?Subject=Contact%20website" target="_top"> Email <i class="material-icons">mail_outline</i>
          </a></br>
          <a class="header-menu-item" href="tel:1-646-384-5224">Call us  <i class="material-icons">call</i></a>
        </div>
      </div>
    </div>
  </div>
<!-- Included JS Files (Uncompressed) -->
<!--

<script src="javascripts/modernizr.foundation.js"></script>

<script src="javascripts/jquery.js"></script>

<script src="javascripts/jquery.foundation.mediaQueryToggle.js"></script>

<script src="javascripts/jquery.foundation.reveal.js"></script>

<script src="javascripts/jquery.foundation.orbit.js"></script>

<script src="javascripts/jquery.foundation.navigation.js"></script>

<script src="javascripts/jquery.foundation.buttons.js"></script>

<script src="javascripts/jquery.foundation.tabs.js"></script>

<script src="javascripts/jquery.foundation.forms.js"></script>

<script src="javascripts/jquery.foundation.tooltips.js"></script>

<script src="javascripts/jquery.foundation.accordion.js"></script>

<script src="javascripts/jquery.placeholder.js"></script>

<script src="javascripts/jquery.foundation.alerts.js"></script>

-->

<!-- Included JS Files (Compressed) -->
<script src="/javascripts/foundation.min.js"></script>

<!-- Initialize JS Plugins -->
<script src="/javascripts/app.js"></script>
</div>
</body>
</html>